{% extends "base.html" %}
{% load static %}


{% block content %} 
<h1 class="tituloPrin">Clientes Satisfechos </h1>
<br>
<a href="https://ambugroupllc.com/"target="_blank" class="text-decoration-none"><h2 class="title-ambu text-danger">Ambugroup LLC</h2></a> 

<section class="container-fluid p-0">
    <div class="ratio ratio-16x9 w-60">
        <iframe src="https://www.youtube.com/embed/y6bYHQlPd-8?si=Nkd7g1X4dIBVMKUN&amp;autoplay=1&mute=1&loop=1&playlist=y6bYHQlPd-8&controls=0&showinfo=0&modestbranding=1&rel=0
        title="YouTube video player" 
        frameborder="0" 
        allow="autoplay; encrypted-media"
        referrerpolicy="strict-origin-when-cross-origin" 
        allowfullscreen>
    </iframe>
    </div>
</section>
<iframe 
width="100%" 
height="166" 
scrolling="no" 
frameborder="no" 
allow="autoplay" 
src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1891625109&color=%23c81c14&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/ambugroup" title="Ambu Group LLC" target="_blank" style="color: #cccccc; text-decoration: none;">Ambu Group LLC</a> · <a href="https://soundcloud.com/ambugroup/about-ambu-group" 
title="About Ambu Group" 
target="_blank" 
style="color: #cccccc; 
text-decoration: none;">
    About Ambu Group</a>
</div>
<br>

<section class="container-fluid ">
    <div class="container">
        <!-- Primera fila con una sola columna -->
        <div class="row ">
            <div class="col-12">
                <h3 class="h3-ambu">Sobre la Empresa</h3>
                <p>Empresa de construccion y direño de interiores,Nuestra misión es lograr
                    la excelencia en cada proyecto que emprendemos. Estamos comprometidos 
                    el crecimiento y la calidad, asegurando la satisfacción del cliente a
                    través de nuestro dedicado equipo de profesionales. Desde nuestros humildes
                    comienzos hasta convertirnos en una empresa de pintura líder en Florida Central,
                    siempre hemos tenido como objetivo brindar servicios de primer nivel. Nuestro equipo
                    de más de 55 expertos, incluidos pintores, supervisores, gerentes de proyectos y tasadores,                        trabaja en colaboración para brindar perfección en cada trabajo.</p>
            </div>
        </div>
        <!-- Segunda fila con una sola columna -->
        <div class="row d justify-content-center align-items-center">
            <div class="col-12 d-flex flex-column justify-content-center align-items-center m-2">
                <img class="img-ambugroup rounded-5 m-2 " src="{%static 'img/logo-ambu.jpg'%} " alt="logo que dive ambugrou llc letras negras sibolo tribal en centro rojo">
                <a class="text-danger" target="_blank" href="https://ambugroupllc.com/">WebSite</a>
            </div>
            
        </div>
    </div>
</section>
<br>
<div id="carouselExampleCaptions" class="carousel slide bg-light text-dark d-flex justify-content-center my-5"
data-bs-ride="carousel" data-bs-interval="1500">
    <div class="container" style="max-width: 700px;"> <!-- Limita el ancho del carrusel -->
        <h3 class="h3-ambu text-center">Imágenes sobre Ambugroup</h3>
        
        <!-- Indicadores -->
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button> <!-- Agregado -->
        </div>

        <!-- Carrusel -->
        <div class="carousel-inner m-2" style="max-height: 500px; "> <!-- Tamaño uniforme -->
            <div class="carousel-item active">
                <img src="https://ambugroupllc.com/wp-content/uploads/2024/09/blue-chair-room-scaled.jpg" 
                     class="d-block mx-auto " 
                     style="width: 100%; height: 450px; object-fit: contain;" 
                     alt="Imagen 1">
                <div class="carousel-caption d-none d-md-block">
                    <h5 class="text-danger">Diseño de Interiores</h5>
                    <p class="text-dark">Diseño a la medida de interiores en Orlando Florida.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://ambugroupllc.com/wp-content/uploads/2024/10/pexels-photo-6474129-6474129-scaled.jpg" 
                     class="d-block mx-auto" 
                     style="width: 100%; height: 450px; object-fit: contain;" 
                     alt="Imagen 2">
                <div class="carousel-caption d-none d-md-block">
                    <h5 class="text-danger">Servicios Profesionales</h5>
                    <p class="text-dark">Servicios de Pintura para empresas y hogar.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://ambugroupllc.com/wp-content/uploads/2024/08/image-3.png" 
                     class="d-block mx-auto" 
                     style="width: 100%; height: 450px; object-fit: contain;" 
                     alt="Imagen 3">
                <div class="carousel-caption d-none d-md-block">
                    <h5 class="text-white">Trabajo Humano</h5>
                    <p class="text-white">Servicios personalizados y con alta demanda con trato humanizado.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://ambugroupllc.com/wp-content/uploads/2024/08/image-5.png" 
                     class="d-block mx-auto" 
                     style="width: 100%; height: 450px; object-fit: contain;" 
                     alt="Imagen 4">
                <div class="carousel-caption d-none d-md-block">
                </div>
            </div>
        </div>

        <!-- Botones de navegación -->
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" style="filter: invert(1);" aria-hidden="true"></span> <!-- Flecha negra -->
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" style="filter: invert(1);" aria-hidden="true"></span> <!-- Flecha negra -->
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>


<div class="accordion my-5" id="accordionPanelsStayOpenExample p-2 ">
    <div class="accordion-item bg-dark text-white ">
        <h3 class="m-1">Servicios Profesionales Prestados</h3>
        <p class="m-1">Como especialista en desarrollo web y administración de plataformas digitales,
           ofrezco soluciones a la medida para potenciar la presencia en línea de mis clientes.
           Un ejemplo de ello es el trabajo realizado para AmbuGroup LLC, donde brindé los siguientes servicios:
        </p>
      <h2 class="accordion-header m-2">
        <button class="accordion-button w-75 mx-auto" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
            Diseño
        </button>
      </h2>
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
        <div class="accordion-body m-2">
          <strong>Diseño y desarrollo de página web personalizada.</strong> Creación de un sitio web adaptado a las necesidades del negocio, con una interfaz intuitiva y optimizada.
        </div>
      </div>
    </div>
    <div class="accordion-item bg-dark text-white">
      <h2 class="accordion-header m-2">
        <button class="accordion-button collapsed w-75 mx-auto" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
            Hosting
        </button>
      </h2>
      <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
        <div class="accordion-body m-2">
          <strong>Selección e integración de hosting y compra de dominio.</strong> Asesoría y gestión para garantizar un servicio estable y seguro.
        </div>
      </div>
    </div>
    <div class="accordion-item bg-dark text-white">
      <h2 class="accordion-header m-2">
        <button class="accordion-button collapsed w-75 mx-auto" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
            Administración 
        </button>
      </h2>
      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
        <div class="accordion-body m-2 align-items-center">
          <strong>Gestión y administración de Webmail (Hostinger) y Google Drive.</strong> Configuración de correos corporativos y optimización del almacenamiento en la nube.
        </div>
      </div>
    </div>
    <div class="accordion-item bg-dark text-white">
        <h2 class="accordion-header m-2">
          <button class="accordion-button collapsed w-75 mx-auto" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapsefour" aria-expanded="false" aria-controls="panelsStayOpen-collapsefour">
              Mantenimiento 
          </button>
        </h2>
        <div id="panelsStayOpen-collapsefour" class="accordion-collapse collapse">
          <div class="accordion-body m-2">
            <strong> Administración y mantenimiento web .</strong> Supervisión constante del sitio para asegurar su óptimo rendimiento.
          </div>
        </div>
    </div>
        <div class="accordion-item bg-dark text-white">
        <h2 class="accordion-header m-2">
            <button class="accordion-button collapsed w-75 mx-auto" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapsefive" aria-expanded="false" aria-controls="panelsStayOpen-collapsefive">
                Actualización 
            </button>
        </h2>
        <div id="panelsStayOpen-collapsefive" class="accordion-collapse collapse">
            <div class="accordion-body m-2">
                <strong> Actualización de plugins y versiones .</strong> Implementación de mejoras técnicas para mantener la seguridad y funcionalidad del sitio.
            </div>
        </div>
    </div>
        <div class="accordion-item bg-dark text-white">
            <h2 class="accordion-header m-2">
                <button class="accordion-button collapsed w-75 mx-auto" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapsesix" aria-expanded="false" aria-controls="panelsStayOpen-collapsesix">
                    Gestion 
                </button>
            </h2>
            <div id="panelsStayOpen-collapseThsix" class="accordion-collapse collapse">
                <div class="accordion-body m-2">
                    <strong> Gestión y actualización periódica del blog y secciones  .</strong> Creación de contenido relevante para mejorar la visibilidad.
                </div>
            </div>    
      </div>
<br>
  

  </div>


{% endblock content %}   



