{% extends "base.html" %}
{% load static %}

{% block content %}
<h1 class="tituloPrin container-fluid d-flex justify-content-center">LOGIN</h1>


{% if messages %}
    <div class="container">
        {%for message in messages %}
        <div class="alert {% if message.tags == 'success' %}
        alert-success
        {% else %}
        alert-danger
        {% endif %}" role="alert">
            {{ message }}>
    </div>
    {% endfor %}
</div>
{% endif %}


<div class="d-flex container justify-content-center align-items-center mb-3">
    <form method="POST" class="login container border rounded p-1 text-dark bg-light "
        style="max-width: 450px; width: 90%;">
        {% csrf_token %}
        <div class="row text-center">
            {% for field in form %}
                <div class="col-md-4 col-12 text-md-end text-start">
                    <label for="{{ field.id_for_label }}" class="col-form-label text-truncate d-block">{{ field.label }}</label>
                </div>
                <div class="col-md-8 col-12">
                    {{ field }}
                </div>
            {% endfor %}
        </div>
        <div class="d-flex justify-content-center mt-3">
            <button type="submit" class="btn btn-success">Login</button>
        </div>
    </form>
</div>
<a href="{% url 'registro' %}">¿No tienes cuenta? Regístrate</a>


{% endblock content %}