{% extends "base.html" %}
{% load static %}

{% block content %}
<title>Registro Exitoso</title>
<script>
    // Redirigir después de 3 segundos
    setTimeout(function() {
        window.location.href = "{% url 'login' %}";
    }, 3000);
</script>
</head>

<div class="container text-center">
    <div class="alert alert-success">
        <h2>🎉 ¡Registro Exitoso!</h2>
        <p><div class="spinner-border text-success" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>&nbsp; Serás redirigido al inicio de sesión en unos segundos...</p>
    </div>
</div>

{% endblock content %}